Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"

Create deploy-book.yml
  .github/workflows/deploy-book.yml
Labels: github_workflows

Delete .github/workflows/mdbook.yml
  .github/workflows/mdbook.yml
Labels: github_workflows

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Create SUMMARY.md
  SUMMARY.md
Labels: documentation

Update book.toml
  book.toml
Labels: none

Delete SUMMARY.md
  SUMMARY.md
Labels: documentation

Update book.toml
  book.toml
Labels: none

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Create custom.css
  src/custom.css
Labels: none

Update SUMMARY.md
  src/SUMMARY.md
Labels: none

Update introduction.md
  src/introduction.md
Labels: none

Create update-release-body.yml
  .github/workflows/update-release-body.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Version 0.0.9.0
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Version 0.0.9.0
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update deploy-book.yml
  .github/workflows/deploy-book.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Delete src/custom.css
  src/custom.css
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Create .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

chore: update .version file to
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update book.toml
  book.toml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update book.toml
  book.toml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Create release-changelog.yaml
  .github/workflows/release-changelog.yaml
Labels: github_workflows

Rename release-changelog.yaml to release-changelog.yml
  .github/workflows/release-changelog.yml
Labels: github_workflows
