Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"

Create pr-management.yml
  .github/workflows/pr-management.yml
Labels: github_workflows

Update automerge.yml
  .github/workflows/automerge.yml
Labels: github_workflows

Update de.json
  custom_components/violet_pool_controller/translations/de.json
Labels: custom_components

Update en.json
  custom_components/violet_pool_controller/translations/en.json
Labels: custom_components

Update de.json
  custom_components/violet_pool_controller/translations/de.json
Labels: custom_components

Create strings.json
  custom_components/violet_pool_controller/strings.json
Labels: custom_components

Update pool_temperature_control.yaml
  blueprints/automation/pool_temperature_control.yaml
Labels: none

Update pool_ph_control.yaml
  blueprints/automation/pool_ph_control.yaml
Labels: none

Create README.md
  blueprints/automation/README.md
Labels: none

Create pool_cover_control.yaml
  blueprints/automation/pool_cover_control.yaml
Labels: none

Create pool_backwash_control.yaml
  blueprints/automation/pool_backwash_control.yaml
Labels: none

Update pool_backwash_control.yaml
  blueprints/automation/pool_backwash_control.yaml
Labels: none

Update README.md
  blueprints/automation/README.md
Labels: none

Create README.md
  blueprints/README.md
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update and rename CHANGELOG.rst to CHANGELOG.md
  CHANGELOG.md
  CHANGELOG.rst
Labels: documentation

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Fix
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/cover.py
  custom_components/violet_pool_controller/entity.py
  custom_components/violet_pool_controller/number.py
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Update services.yaml
  custom_components/violet_pool_controller/services.yaml
Labels: custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Update services.yaml
  custom_components/violet_pool_controller/services.yaml
Labels: custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update strings.json
  custom_components/violet_pool_controller/strings.json
Labels: custom_components

Update de.json
  custom_components/violet_pool_controller/translations/de.json
Labels: custom_components

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create update-release-notes.yml
  .github/workflows/update-release-notes.yml
Labels: github_workflows

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Delete Dokumente/manual.txt
  Dokumente/manual.txt
Labels: none

Delete Dokumente/manual.pdf
  Dokumente/manual.pdf
Labels: none

Add files via upload
  Dokumente/manual.pdf
  Dokumente/manual.txt
Labels: none

fixes
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/inputhelper.txt
  custom_components/violet_pool_controller/lovelace.txt
  custom_components/violet_pool_controller/service.txt
  custom_components/violet_pool_controller/services.py
  custom_components/violet_pool_controller/services.yaml
  custom_components/violet_pool_controller/ui_html.txt
Labels: python, custom_components

fix for ha26
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components
