Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"

Add lightweight test harness for integration
  custom_components/__init__.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/test_init.py
  requirements-dev.txt
  requirements.txt
  tests/test_integration.py
Labels: python, custom_components, tests

Streamline configuration and bundle dashboard
  Dashboard/lovelace.txt
  Dashboard/pool-dashboard.yaml
  README.md
  Tools/inputhelper.txt
  Tools/lovelace.txt
  Tools/service.txt
  Tools/services.yaml
  Tools/ui_html.txt
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/coordinator.py
  custom_components/violet_pool_controller/cover.py
  custom_components/violet_pool_controller/entity.py
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/switch.py
  screenshots/pool-dashboard.svg
Labels: python, documentation, custom_components

Revise release notes workflow and remove unused docs
  .github/workflows/release.yml
  Dokumente/getReadings.json
  Dokumente/getReadings.xlsx
  Dokumente/manual.pdf
  Dokumente/manual.txt
Labels: github_workflows

Add files via upload
  tests/getReadings.csv
  tests/getReadings.xlsx
  tests/getReadings_spec.json
  tests/getReadings_spec.md
  tests/manual.pdf
Labels: tests

Add specific reading support and diagnostics service
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/services.py
  custom_components/violet_pool_controller/services.yaml
  custom_components/violet_pool_controller/translations/de.json
  custom_components/violet_pool_controller/translations/en.json
  tests/test_integration.py
Labels: python, custom_components, tests

Add diagnostic error sensor and monitoring endpoints
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/error_codes.py
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/services.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Add missing constant for selected sensors
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components
