Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update pool_pump_timer.yaml
  install_conf/blueprints/pool_pump_timer.yaml
Labels: none

Update LICENSE
  LICENSE
Labels: none

Delete requirements.txt
  requirements.txt
Labels: none

Update .gitattributes
  .gitattributes
Labels: none

Potential fix for code scanning alert no. 2386: Clear-text logging of sensitive information
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

one device fix
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Delete cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

chore: update .version file to V0.0.9.4
  custom_components/violet_pool_controller/.version
Labels: custom_components

HA 2025.5 Update
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update HA2025.05
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Create cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

chore: update .version file to 0.0.9.4
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update api.py
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Update api.py
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update coordinator.py
  custom_components/violet_pool_controller/coordinator.py
Labels: python, custom_components

Update services.yaml
  custom_components/violet_pool_controller/services.yaml
Labels: custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Create number.py
  custom_components/violet_pool_controller/number.py
Labels: python, custom_components

Update number.py
  custom_components/violet_pool_controller/number.py
Labels: python, custom_components

Create climate.py
  custom_components/violet_pool_controller/climate.py
Labels: python, custom_components

Update binary_sensor.py
  custom_components/violet_pool_controller/binary_sensor.py
Labels: python, custom_components

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"
