Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

Update validate.yml
  .github/workflows/validate.yml
Labels: github_workflows

Update hassfest.yml
  .github/workflows/hassfest.yml
Labels: github_workflows

Update hacs_action.yml
  .github/workflows/hacs_action.yml
Labels: github_workflows

Update changelog.yml
  .github/workflows/changelog.yml
Labels: github_workflows

Update validate.yml
  .github/workflows/validate.yml
Labels: github_workflows

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update device.py
  custom_components/violet_pool_controller/device.py
Labels: python, custom_components

Update entity.py
  custom_components/violet_pool_controller/entity.py
Labels: python, custom_components

Update binary_sensor.py
  custom_components/violet_pool_controller/binary_sensor.py
Labels: python, custom_components

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update number.py
  custom_components/violet_pool_controller/number.py
Labels: python, custom_components

Update number.py
  custom_components/violet_pool_controller/number.py
Labels: python, custom_components

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Create services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Delete .github/workflows/change.yml
  .github/workflows/change.yml
Labels: github_workflows

Delete .github/workflows/changelog.yml
  .github/workflows/changelog.yml
Labels: github_workflows

Delete .github/workflows/codacy.yml
  .github/workflows/codacy.yml
Labels: github_workflows

Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Labels: github_workflows

Delete .github/workflows/deploy-book.yml
  .github/workflows/deploy-book.yml
Labels: github_workflows

Delete .github/workflows/greetings.yml
  .github/workflows/greetings.yml
Labels: github_workflows

Delete .github/workflows/labeler.yml
  .github/workflows/labeler.yml
Labels: github_workflows

Delete .github/workflows/restlichen.yml
  .github/workflows/restlichen.yml
Labels: github_workflows

Delete .github/workflows/stale.yml
  .github/workflows/stale.yml
Labels: github_workflows

Delete .github/workflows/trufflehog.yml
  .github/workflows/trufflehog.yml
Labels: github_workflows

Update validate.yml
  .github/workflows/validate.yml
Labels: github_workflows

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Create security.yml
  .github/workflows/security.yml
Labels: github_workflows

Create maintenance.yml
  .github/workflows/maintenance.yml
Labels: github_workflows

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"
