Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

Update release-changelog.yml
  .github/workflows/release-changelog.yml
Labels: github_workflows

Delete .github/workflows/release-changelog.yml
  .github/workflows/release-changelog.yml
Labels: github_workflows

Update hacs.json
  hacs.json
Labels: none

Update hacs.json
  hacs.json
Labels: none

Update hacs.json
  hacs.json
Labels: none

Update hacs.json
  hacs.json
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: github_workflows

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

fixes
  .github/workflows/release.yml
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/entity.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components, github_workflows

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

chore: update .version file to 0.0.9.1
  custom_components/violet_pool_controller/.version
Labels: custom_components

fix error
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

fix zip
  .github/workflows/release.yml
Labels: github_workflows

add Pre-Release
  .github/workflows/update-release-body.yml
Labels: github_workflows

chore: update .version file to 0.0.9.2
  custom_components/violet_pool_controller/.version
Labels: custom_components

Revert "fix error"
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

2 devices, sensors and switches in a own device test
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

breaking change
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/device.py
Labels: python, custom_components

new version
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/manifest.json
Labels: python, custom_components

Rename update-release-body.yml to update-release-body.alt
  .github/workflows/update-release-body.alt
Labels: none

fix
  .github/update-release-body.alt
Labels: none

fix
  update-release-body.alt
Labels: none

pylint
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Create api.py
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Create coordinator.py
  custom_components/violet_pool_controller/coordinator.py
Labels: python, custom_components

Update api.py
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Create cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"
