Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update update-release-notes.yml
  .github/workflows/update-release-notes.yml
Labels: github_workflows

Update update-release-notes.yml
  .github/workflows/update-release-notes.yml
Labels: github_workflows

Update update-release-notes.yml
  .github/workflows/update-release-notes.yml
Labels: github_workflows

Create RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: documentation

fix
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

v0.1.0-6
  custom_components/violet_pool_controller/climate.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

fix for hassfest
  custom_components/violet_pool_controller/services.yaml
  custom_components/violet_pool_controller/strings.json
  custom_components/violet_pool_controller/translations/en.json
Labels: custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

upgrade to disclaimer
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/services.yaml
  custom_components/violet_pool_controller/strings.json
Labels: python, custom_components

fix some issues
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/strings.json
Labels: python, custom_components

STATE_MAP mit State 4
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Update services.yaml
  custom_components/violet_pool_controller/services.yaml
Labels: custom_components

Update validate.yml
  .github/workflows/validate.yml
Labels: github_workflows

Update update-release-notes.yml
  .github/workflows/update-release-notes.yml
Labels: github_workflows

Update security.yml
  .github/workflows/security.yml
Labels: github_workflows

Update automerge.yml
  .github/workflows/automerge.yml
Labels: github_workflows

Delete update-release-body.alt
  update-release-body.alt
Labels: none

Delete requirements_test.txt
  requirements_test.txt
Labels: none

Delete changelog-ci-config.json
  changelog-ci-config.json
Labels: none

Delete RELEASE_NOTES.md
  RELEASE_NOTES.md
Labels: documentation

Delete install_conf/blueprints directory
  install_conf/blueprints/enhanced_cover_control.yaml
  install_conf/blueprints/enhanced_dosing_control.yaml
  install_conf/blueprints/enhanced_light_control.yaml
  install_conf/blueprints/enhanced_pump_control.yaml
  install_conf/blueprints/enhanced_system_control.yaml
  install_conf/blueprints/install.blueprint
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update api.py
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Update device.py
  custom_components/violet_pool_controller/device.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components

Create services_utils.py
  custom_components/violet_pool_controller/services_utils.py
Labels: python, custom_components

Create services_legacy.py
  custom_components/violet_pool_controller/services_legacy.py
Labels: python, custom_components

Create services_smart.py
  custom_components/violet_pool_controller/services_smart.py
Labels: python, custom_components

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Create services_dmx_cover.py
  custom_components/violet_pool_controller/services_dmx_cover.py
Labels: python, custom_components

Update services.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components
