Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"

Update device.py
  custom_components/violet_pool_controller/device.py
Labels: python, custom_components

++++ README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update README.md
  README.md
Labels: documentation

optimize code and improvements
  Dashboard/lovelace.txt
  README.md
  book.toml
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/climate.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/coordinator.py
  custom_components/violet_pool_controller/cover.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/entity.py
  custom_components/violet_pool_controller/number.py
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/switch.py
  custom_components/violet_pool_controller/translations/de.json
  custom_components/violet_pool_controller/translations/en.json
  install_conf/blueprints/enhanced_cover_control.yaml
  install_conf/blueprints/enhanced_dosing_control.yaml
  install_conf/blueprints/enhanced_light_control.yaml
  install_conf/blueprints/enhanced_pump_control.yaml
  install_conf/blueprints/enhanced_system_control.yaml
Labels: python, documentation, custom_components

Create manual.pdf
  Dokumente/manual.pdf
Labels: none

Create example.json
  Dokumente/example.json
Labels: none

Docs
  Dokumente/example.json
  Dokumente/getReadings.json
Labels: none

Create getReadings.xlsx
  Dokumente/getReadings.xlsx
Labels: none

Create manual.txt
  Dokumente/manual.txt
Labels: none

chore: update .version file to B0.1.0.0
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update number.py
  custom_components/violet_pool_controller/number.py
Labels: python, custom_components

fixes
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/cover.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/number.py
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/translations/de.json
Labels: python, custom_components

update and fix
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/translations/de.json
Labels: python, custom_components

Home Assistant 2025/2026 compatibility
  .github/workflows/validate.yml
  .gitignore
  blueprints/automation/pool_ph_control.yaml
  blueprints/automation/pool_temperature_control.yaml
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/entity.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/services.yaml
  custom_components/violet_pool_controller/test_init.py
  requirements_test.txt
Labels: python, custom_components, github_workflows

Update __init__.py
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update api.py
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Update binary_sensor.py
  custom_components/violet_pool_controller/binary_sensor.py
Labels: python, custom_components

Update climate.py
  custom_components/violet_pool_controller/climate.py
Labels: python, custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update const.py
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

Update coordinator.py
  custom_components/violet_pool_controller/coordinator.py
Labels: python, custom_components

Update cover.py
  custom_components/violet_pool_controller/cover.py
Labels: python, custom_components

Update device.py
  custom_components/violet_pool_controller/device.py
Labels: python, custom_components

Update entity.py
  custom_components/violet_pool_controller/entity.py
Labels: python, custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update number.py
  custom_components/violet_pool_controller/number.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update services.yaml
  custom_components/violet_pool_controller/services.yaml
Labels: custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update test_init.py
  custom_components/violet_pool_controller/test_init.py
Labels: python, custom_components

Update pool_ph_control.yaml
  blueprints/automation/pool_ph_control.yaml
Labels: none

Update pool_temperature_control.yaml
  blueprints/automation/pool_temperature_control.yaml
Labels: none

Update de.json
  custom_components/violet_pool_controller/translations/de.json
Labels: custom_components

Update hacs.json
  hacs.json
Labels: none

Update lovelace.txt
  Dashboard/lovelace.txt
Labels: none
