Repository Xerolux/violet-hass, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, custom_components, configuration, github_workflows, tests, labeler_config

.github/labeler.yml:

# .github/labeler.yml

# Label for changes to Python files
python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

# Label for changes to documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"
      - any-glob-to-any-file: "docs/**/*"

# Labels for changes in specific folders

custom_components:
  - changed-files:
      - any-glob-to-any-file: "custom_components/violet_pool_controller/**/*"

configuration:
  - changed-files:
      - any-glob-to-any-file: "*.yaml"
      - any-glob-to-any-file: "*.yml"
      - any-glob-to-any-file: "config/**/*"

github_workflows:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/*.yml"
      - any-glob-to-any-file: ".github/workflows/*.yaml"

tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

dependencies:
  - head-branch: "dependabot/**"

# Label for changes to the labeler configuration itself
labeler_config:
  - changed-files:
      - any-glob-to-any-file: ".github/labeler.yml"

# Example of ignoring a specific file/folder:
# ignore:
#   - changed-files:
#       - any-glob-to-any-file: "docs/ignore_this_folder/*"

Update en.json
  custom_components/violet_pool_controller/translations/en.json
Labels: custom_components

Update de.json
  custom_components/violet_pool_controller/translations/de.json
Labels: custom_components

Bugfix v0.1.0.4
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/CHANGELOG.md
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/manifest.json
Labels: python, custom_components

Revert "Bugfix v0.1.0.4"
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/CHANGELOG.md
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/manifest.json
Labels: python, custom_components

fix: Bugfix patch v0.1.0.4
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/CHANGELOG.md
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

fix the code
  1.sh
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/cover.py
  custom_components/violet_pool_controller/device.py
Labels: python, custom_components

config error fix
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/translations/de.json
Labels: python, custom_components

utf-8 & performance fix , fix wrong code and add new one
  custom_components/inputhelper.txt
  custom_components/lovelace.txt
  custom_components/service.txt
  custom_components/ui_html.txt
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/coordinator.py
  custom_components/violet_pool_controller/cover.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/entity.py
  custom_components/violet_pool_controller/number.py
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/services.py
  custom_components/violet_pool_controller/switch.py
  custom_components/violet_pool_controller/test_init.py
  custom_components/violet_pool_controller/translations/de.json
Labels: python, custom_components

reduce the code , more performance
  1.sh
  custom_components/services.yaml
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/binary_sensor.py
  custom_components/violet_pool_controller/climate.py
  custom_components/violet_pool_controller/config_flow.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/services.py
  custom_components/violet_pool_controller/services_dmx_cover.py
  custom_components/violet_pool_controller/services_legacy.py
  custom_components/violet_pool_controller/services_smart.py
  custom_components/violet_pool_controller/services_utils.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

fix workflow
  .github/workflows/automerge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/hacs_action.yml
  .github/workflows/hassfest.yml
  .github/workflows/labeler.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-management.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/update-release-notes.yml
  .github/workflows/validate.yml
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components, github_workflows

fix
  .github/workflows/security.yml
  .github/workflows/validate.yml
  Tools/inputhelper.txt
  Tools/lovelace.txt
  Tools/service.txt
  Tools/services.yaml
  Tools/ui_html.txt
  _config.yml
  requirements-dev.txt
  requirements.txt
Labels: configuration, github_workflows

codecov
  .github/workflows/codecov.yml
  _config.yml
Labels: configuration, github_workflows

Update codecov.yml
  .github/workflows/codecov.yml
Labels: github_workflows

Update codecov.yml
  .github/workflows/codecov.yml
Labels: github_workflows

Delete .github/workflows/codecov.yml
  .github/workflows/codecov.yml
Labels: github_workflows

fix: critical improvements and bug fixes for v0.1.0-8
  custom_components/violet_pool_controller/.version
  custom_components/violet_pool_controller/__init__.py
  custom_components/violet_pool_controller/const.py
  custom_components/violet_pool_controller/device.py
  custom_components/violet_pool_controller/manifest.json
  custom_components/violet_pool_controller/sensor.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

fix: add missing setpoint_fields and indicator_fields to SETPOINT_DEFINITIONS for number entities
  custom_components/violet_pool_controller/const.py
Labels: python, custom_components

old SERVICES REMOVED
  custom_components/violet_pool_controller/__init__.py
Labels: python, custom_components

Update CHANGELOG.md
  custom_components/violet_pool_controller/CHANGELOG.md
Labels: custom_components

Update validate.yml
  .github/workflows/validate.yml
Labels: github_workflows

Create spellcheck.yml
  .github/workflows/spellcheck.yml
Labels: github_workflows

Create .cspell.json
  .cspell.json
Labels: none

Create .cspell-words.txt
  .cspell-words.txt
Labels: none

Create services.yaml
  custom_components/violet_pool_controller/services.yaml
Labels: custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update climate.py
  custom_components/violet_pool_controller/climate.py
Labels: python, custom_components

Update api.py
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Update device.py
  custom_components/violet_pool_controller/device.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update climate.py
  custom_components/violet_pool_controller/climate.py
Labels: python, custom_components

Update switch.py
  custom_components/violet_pool_controller/switch.py
Labels: python, custom_components

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update .version
  custom_components/violet_pool_controller/.version
Labels: custom_components

Update manifest.json
  custom_components/violet_pool_controller/manifest.json
Labels: custom_components

Update config_flow.py
  custom_components/violet_pool_controller/config_flow.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Update sensor.py
  custom_components/violet_pool_controller/sensor.py
Labels: python, custom_components

Refactor Violet Pool Controller API with optimizations
  custom_components/violet_pool_controller/api.py
Labels: python, custom_components

Fix Violet API client and service imports
  custom_components/violet_pool_controller/api.py
  custom_components/violet_pool_controller/climate.py
  custom_components/violet_pool_controller/cover.py
  custom_components/violet_pool_controller/services.py
Labels: python, custom_components
